.content-login {
    width: 400px;
    height: 330px;
    text-indent: 20px;
    background: lightgreen;
    color: darkblue;
    border: 1px solid #C8C5BA;
}

.temp-button {

}

.username, .password {
    float: right;
    margin-right: 10px;
}

.confirm-login-button {
    background: lightgray;
    width: 100px;
    height: 40px;
    font-weight: bold;
    margin: 5px 5px 5px 120px;
}

.confirm-login-button:hover {
    color: darkgray;
}

.confirm-login-button:active {
    color: lightgray;
}

.skip-authentication {
    float: left;
    margin: 20px 2px;
    text-decoration: none;
}

.skip-authentication:hover {
    color: coral;
}

.new-user {
    float: right;
    margin: 20px 20px 2px;
    text-decoration: none;
    border: none;
}

.new-user:hover {
    color: coral;
}

.not-valid-credentials {
    margin: 10px 0 50px 0;
    padding: 2px;
    width: 100%;
    height: 50px;
}

.not-valid-msg {
    text-align: center;
    background: darkgray;
    color: crimson;
    font-weight: bold;
}
